---
import { actions, isInputError } from "astro:actions";

interface Props {
  postSlug: string;
}

const { postSlug } = Astro.props;

const result = Astro.getActionResult(actions.addComment);

if (result && !result.error) {
  return Astro.redirect(`/posts/${postSlug}#comments`);
}

const inputErrors = isInputError(result?.error) ? result.error.fields : {};
---

{result && !result.error && (
<div class="p-4 mb-4 bg-green-100 text-green-800 rounded">
  Merci ! Votre commentaire a été ajouté.
</div>
  )}


<form method="POST" action={actions.addComment} class="mb-8">
  <input type="hidden" name="postSlug" value={postSlug} />

  <div class="mb-4">
    <label for="name">Pseudo:</label>
    <input
      type="text"
      id="name"
      name="name"
      required
      class="w-full rounded border p-2"
    />
    {inputErrors.name && <p class="text-red-500">{inputErrors.name}</p>}
  </div>

  <div class="mb-4">
    <label for="email">E-miel (Optionnel) 🐝:</label>
    <input
      type="email"
      id="email"
      name="email"
      class="w-full rounded border p-2"
    />
    {inputErrors.email && <p class="text-red-500">{inputErrors.email}</p>}
  </div>

  <div class="mb-4">
    <label for="message">Message:</label>
    <textarea
      id="message"
      name="message"
      required
      class="w-full rounded border p-2"></textarea>
    {inputErrors.message && <p class="text-red-500">{inputErrors.message}</p>}
  </div>

  <button type="submit" class="rounded bg-[#a4cf0a] px-4 py-2 text-black">
    Envoyer le commentaire
  </button>
</form>
